*{
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    min-height: 100vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-attachment: fixed;
}


.footer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    height: clamp(50px, 6vh, 100px);
    padding: 0px 20px;
    background-color: #fff;
    font-size: clamp(10px, 5vw, 14px);
}

.footer-info a{
    color: black;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}


.footer-info a:focus{
    outline: 1px solid #4158D0;
}
