.ciudad{
    width: clamp(80px, 50vw, 800px);
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(255,255,255, 0.90);

    animation-duration: 500ms;
    animation-name: aparicionCiudades;
}

.ciudad:focus{
    outline: 1px solid #FF9F1C;
}

.ciudad:hover{
    background-color: rgba(241, 241, 241, 0.9);
}

.ciudad ul{
    padding-left: 20px;
    margin-bottom: 10px;
}

@keyframes aparicionCiudades{
    from{
        margin: 200px;
    }
    to{
        margin: 20px 0px;
        
    }
}
